/* styles.css */

#titulo-principal {
    font-size: 36px;
    color: #0077b6;
    text-align: center;
    margin: 20px 0;
}

.titulo-secao {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    font-size: 20px;
    background-color: #0077b6;
    color: white;
    text-align: center;
    margin: 20px 0;
}
